.header
{
    background-color: #333;
    color: #fff;
}

.header nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul
{
    display: flex;
    gap: 20px;
}

.header nav ul li a
{
    color: #fff;
    font-weight: bold;
}